/* GENERALS */
/*----------*/

body {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, 'Source Han Serif', 'Songti SC', serif;
  line-height: 1.5em;
}

.title-page {
  display: none;
}

.newpage {
  page-break-before: always;
  text-align: justify;
  text-align-last: left;
}

/*########################*/
/*      GRID SYSTEM       */
/*########################*/


/* HEADER */
/*--------*/
.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto
}

/* HEADER */
/*--------*/

.doc-header {
  display: grid;
  height: 9cm;
  width: 100%;
  grid-template-columns: [col1-start] 8fr [col1-end col2-start] 2fr [col2-end col3-start] 4fr [col3-end col4-start] 4fr [col4-end col5-start] 4fr [col5-end col6-start] 1fr [col6-end];
  grid-template-rows: [row1-start] 1fr [row1-end row2-start] 2fr [row2-end row3-start] 1fr [row3-end row4-start] 2fr [row4-end row5-start] 2fr [row5-end row6-start] 1fr [row6-end];
  grid-column: 1/1
  grid-row: 1/1
}

.doc-header tr {
  background: none;
}

.doc-header thead {
  background: none;
  font-size: 115;
}


/* Freelance item */

.freelance {
  grid-column: col1-start / col1-end;
  grid-row: row1-start / row4-end;
}

/* Document info item */

.info-box-date {
  grid-column: col3-start / col3-end;
  grid-row: row2-start / row2-end;
}

.info-box-ndoc {
  grid-column: col4-start / col4-end;
  grid-row: row2-start / row2-end;
}

.info-box-client {
  grid-column: col5-start / col5-end;
  grid-row: row2-start / row2-end;
}

.boxheader {
  border: 1px solid black;
  border-radius: 15px;
  display: inline-block;
  width: 30mm;
  height: 17mm;
  margin: 0;
  margin-top: 10mm;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.boxheader > p {
  line-height: 0;
  font-size: 11pt;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}

/* Address item */

.address {
  grid-column: col3-start / col5-end;
  grid-row: row4-start / row4-end;
  justify-self: center;
  margin: 0;
  padding: 0;
  font-size: 11pt;
  line-height: 15px;
  min-width: 7cm;
}


.address table {
  margin: 0;
  padding: 0 10px;
  float: left;
}


.box {
  display: inline-block;
  height: auto;
  margin-top: 5mm;
  margin-bottom: 1mm;
  padding-top: 3mm;
  padding-bottom: 3mm;
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(106, 174, 122, 1);
  min-width: 5cm;
}

.box p {
  line-height: 4mm;
  font-size: 11pt;
  text-align: left;
  padding: 0 3mm;
  margin: 1mm;
}

/* MAIN */
/*------*/

.doc-main {
  display: grid;
  height: auto;
  width: 100%;
  grid-template-columns: [col1-start] 45fr [col1-end col2-start] 10fr [col2-end col3-start] 10fr [col3-end col4-start] 20fr [col4-end col5-start] 15fr [col5-end];
  grid-template-rows: [row1-start] auto [row1-end row2-start] auto [row2-end row3-start] auto [row3-end];
  grid-row-gap: 15px;
  grid-column: 1/1
  grid-row: 2/2
}

.doc-main table {
  width: 100%;
  border-collapse: collapse;
  font-weight: bold;
}

.doc-main tbody {
  border-top: 2px solid rgb(23,37,45);
  border-bottom: 2px solid rgb(23,37,45);
}

.doc-main thead {
  background-color: rgb(23,37,45);
  color: rgb(230,230,230);
  border-left: 2px solid rgb(23,37,45);
  border-right: 2px solid rgb(23,37,45);
  text-align: center;
}

.doc-main th {
  padding: 0 5px;
}

.doc-main td {
  border-left: 2px solid rgb(23,37,45);
  border-right: 2px solid rgb(23,37,45);
  padding: 0 5px;
}

.doc-main tr:nth-child(even) {
  background-color: rgba(106, 174, 122, 0.2);
}

.doc-main tfoot {
  background: none;
  font-size: 9pt;
  text-align: right;
}

.description {
  grid-column: col1-start / col5-end;
  grid-row: row1-start / row1-end;
}

.total {
  grid-column: col4-start / col5-end;
  grid-row: row2-start / row2-end;
}

.comments {
  grid-column: col1-start / col5-end;
  grid-row: row3-start / row3-end;
  line-height: 1em;
}

.comments > p:first-child:before {
  content: "Commentaire :";
  display: block;
  font-weight: bold;
}

/* FOOTNOTE */
/*----------*/


.doc-footer {
  display: flex;
  height: auto;
  width: 50%;
  grid-column: 1/1;
  grid-row: 3/-1;
  position: absolute;
  bottom: 0;
}


.footbox {
  border: 1px solid black;
  height: 35mm;
  width: 90%;
  vertical-align: top;
}

.footbox > p {
  margin: 0;
  padding: 1mm;
}




/*########################*/
/*     RUNNING ELEMENT    */
/*########################*/


/* DOC */
/*----------------*/

.doc {
  position: running(doc);
}

.ndoc {
  position: running(ndoc);
}




/*--------------------------------------------------------------------------------*/
/*
:root {
  --main-bg-image: attr(src);
}*/

@page {
  size: A4;
  margin: 1cm 1cm;
  background-image: var(--main-bg-image);
  background-repeat: no-repeat;
  background-color: white;
  background-size: 80%;
  background-position: center;
  @bottom-right {
    content: "Page " counter(page) "/" counter(pages);
  }
  @bottom-left {
    content: element(ndoc);
    min-width: 6cm;
  }
}

@page :first {
  @top-center {
    content: "";
  }
  @top-right {
    content: element(doc);
    vertical-align: bottom;
    text-transform: uppercase;
    font-size: 23pt;
    text-align: left;
    align-items: flex-start;
  }
}

@media (min-width: 12.32in) {
  .pagedjs_page, .pagedjs_first_page {
    margin: auto auto 5mm auto;
  }
}

/* LOGO */
/*------*/

.logo img {
  width: 35mm;
}

.logo {
  margin: 0;
  padding: 0;
  font-size: 9pt;
  line-height: 12px;
}

/* TABLE */
/* ----- */

table {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

td {
  vertical-align: top;
  margin: 0;
  padding: 0;
  background: none;
}



.break-before-me {
  break-before: page;
}
